@page "/get-package-versions"
@inject VersionRangeCalculator Service

<Title>Get Package Versions - NuGet Calculator</Title>
<h1>Get Package Versions</h1>

<form method="get">
    <div class="form-group">
        <label for="packageId">Package ID</label>
        <input type="text" class="form-control" id="packageId" @bind="_packageId" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" @onclick="OnClickAsync" @onclick:preventDefault>Go</button>
    </div>
</form>

<div>
    @foreach (var version in _versions)
    {
        <span class="badge badge-light">@version</span>
    }
</div>

@code {
    private string _packageId;
    private List<string> _versions = new List<string>();

    private async Task OnClickAsync()
    {
        var output = await Service.GetVersionsAsync(_packageId);
        _versions = output.Select(x => x.ToNormalizedString()).ToList();
    }
}