@page "/"
@inject VersionRangeCalculator Service

<h1>Get Package Versions</h1>

<div class="col-md-3">
    <form method="get">
        <div class="form-group row">
            <label for="package-id">Package ID</label>
            <input type="text" class="form-control" id="package" @bind="packageId" />
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary" @onclick="OnClickAsync" @onclick:preventDefault>Go</button>
        </div>
    </form>
</div>

<div>
    @foreach (var version in versions)
    {
        <span class="badge badge-light">@version</span>
    }
</div>

@code {
    private string packageId;
    private List<string> versions = new List<string>();

    private async Task OnClickAsync()
    {
        var output = await Service.GetVersionsAsync(packageId);
        versions = output.Select(x => x.ToNormalizedString()).ToList();
    }
}